body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width : 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box {
    padding: 20px;
    margin: 10px;
    flex: 1; /* Makes all boxes take equal space */
    text-align: center;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    border-radius: 4px 0 0 4px; /* Rounded left corners */
    outline: none;
}

.search-button {
    padding: 10px 15px;

    border: 2px solid #4CAF50;
    border-radius: 0 4px 4px 0; /* Rounded right corners */
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.button-image {
    width: 15px; /* Image width */
    height: 15px; /* Image height */
}

.to_planner {
  width: 300px;
  height: 0;
  position: relative;
  border-right: 45px solid transparent;
  border-top: 35px solid #acb0b7;
  border-left: 45px solid transparent;
  transform: rotate(-90deg) translate(-70%, -185px);
  transform-origin: center;
  
  transition-duration: 0.4s;
  cursor: pointer;
}

.to_planner:hover {
  border-top: 35px solid #152f5d;
  color: white;
}

.to_planner span { 
  position: absolute;
  top: -25px;
  left: 25%;
}

header {
  background-color: #666;
  text-align: center;
  font-size: 40px;
  color: white;
}
