.box {
  padding: 20px;
  margin: 10px;
  flex: 1;
  /* Makes all boxes take equal space */
  display: flex;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-width: 1100px;
}

.vertical-stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* align items at the top */
  width: 100%;
}

ul,
#myUL {
  list-style-type: none;
  text-align: left;
}

#myUL {
  margin: 0;
  padding: 0;
}

.nested {
  display: none;
}

.active {
  display: block;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #D4CDF4;
  border-radius: 4px 0 0 4px;
  /* Rounded left corners */
  outline: none;
}

.select-button {
  padding: 10px 15px;

  border: 2px solid #D4CDF4;
  background-color: #D4CDF4;
  border-radius: 4px;
  /* Rounded corners */
  cursor: pointer;
}

.select-button:hover {
  background-color: #8B85C1;
  border: 2px solid #8B85C1;
}

.search-dropdown {
  position: absolute;
  /* Position relative to parent */
  /*z-index: 1000;  Ensure it's on top */
  background-color: white;
  /* Background for dropdown */
  border: 1px solid #ccc;
  /* Border for dropdown */
  width: 100%;
  /* Match input width */
  padding: 0;
  margin: 0;
}

.button-image {
  width: 15px;
  /* Image width */
  height: 15px;
  /* Image height */
}

table,
th,
td {
  border: 1px solid black;
}

header {
  background-color: #D4CDF4;
  text-align: center;
  font-size: 40px;
  color: white;
  min-width: 1100px;
}

.planner-table-table {
  width: 100%;
  border-collapse: collapse;
}

.planner-table th,
.planner-table td {
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.course-container {
  display: inline;
  flex-direction: column;
  /* Stacks items vertically */
  width: 75%;
}

.course-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* round corners */
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 40px;
  margin-bottom: 10px;
}

table {
  display: table;
}

table tr {
  display: table-cell;
}

table tr td {
  display: block;
}

.tab {
  overflow: hidden;
  background-color: #D4CDF4;
  width: 500px;
  height: max-content;
  border-radius: 4px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.4s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #8B85C1;
}

.tab button.active {
  background-color: #9f98de;
}

.tab-content {
  align-items: center;
}

/*planner*/
.planner {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: 50px auto;
  background-color: transparent;
  padding: 10px;
  align-content: space-evenly;
}

.year-row {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D4CDF4;
  font-weight: bold;
  padding: 10px;
}

.course-row {
  grid-row: 2;
}

.course-slot-planner {
  display: flex;
  flex-direction: column;
  /* Stacks items vertically */
  margin-left: left;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: black;
  background-color: transparent;
  font-size: 14px;

}

.planned {
  background-color: #3a8ce0;
}

.enrolled {
  background-color: #e7f473;
}

.completed {
  background-color: #38e150;
}